<button
  class="border-white rounded-2xl border-solid border-2 p-4 text-white hover:text-black hover:bg-white active:border-blue-900 active:border-8"
  type="button"
  ...attributes
>{{yield}}</button>