<section
  id="intro"
  class="h-screen bg-gradient-to-r from-sky-500 to-indigo-500 flex flex-col items-center justify-center"
>
  <span class="text-4xl sm:text-6xl font-sans text-white">Naveen Kumar</span>
  <span class="w-72 text-center"
  {{did-insert this.initiateDynamicText}}
  ></span>
</section>