<div class="awesome-tabs-container flex flex-col w-full">
  <nav class="nav-tabs flex flex-row justify-center items-center">
    {{#each @tabs key="index" as |tab|}}
      <span
        class="cursor-pointer flex-grow text-center pt-4 pb-4 bg-slate-200 border-2 border-black rounded-lg
          {{if
            (eq this.activeId tab.id)
            'text-indigo-400 border-b-0'
            'border-t-0 border-l-0 border-r-0'
          }}"
        {{on "click" (fn this.setActiveTab tab.id)}}
      >{{tab.title}}</span>
    {{/each}}
  </nav>
  <div class="awesome-tab-content">
    {{yield this.register this.activeId}}
  </div>
</div>